
ion-fab {
  margin-right: 20px;
  bottom: 40px;
}

.imagen {
  width: 20em;
  height: 20em;
  object-fit: cover;
}

.buttonCard {
  justify-content: center;
  display: flex;
}

ion-card {
  justify-content: center;
  position: center;
  text-align: center;
  border-radius: 20px;
}

ion-content {
  --ion-background-color: #404040;
}

#shopping-title {
  text-align: center;
  background-color: #333333;
}
